body {
    background: #2c441f;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    height: 100vh;
    color: #F7F4F0;
}

.container {
    max-width: 400px;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    max-width: 100px;
    margin-bottom: -50px;
    box-shadow: 0px 0px 10px #a2a19f;
}